<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--Meta tag for the responsive web page -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Details</title>
        <!--link to an external style sheet-->
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles/styles.css"/>
    </head>
    <body>
        <section>
            <header class="header" id="nav-heading">
                <div class="row">
                    <div class="column-md-4 column-lg-4">
                        <nav class="menu1">
                            <ul>
                                <li>Parks</li>
                                <li>Attractions</li>
                                <li>Tours</li>
                                <li>Rims</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-md-2 column-lg-2">
                        <img class="logo" src="../images/img_trans.gif" style="background: url(../images/test.svg) no-repeat; background-position: 58.64661654% 27.51605996%; width: 168.9px; height: 45px;"/>
                    </div>
                    <div class="column-md-6 column-lg-6">
                        <nav class="menu1">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps">Photos</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Email Us</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/maps">gallery</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Shop</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="column-md-12 column-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Details</li>
                        </ul>
                    </div>
                </div>
            </header>
            <article>
                <div class="row">
                    <div class="column-md-4 column-md-4">
                        <img src="../images/ys2.jpg"/>
                    </div>
                    <div class="column-md-8 column-md-8">
                        <p>
                            Name: Shirisha <br/>
                            Phone: 972-123-4567 <br/>
                            Email: abc@test.com <br/>
                            Hobbies: reading <br/>
                        </p>
                    </div>
                </div>
            </article>
            <footer class="footer" id="nav-footer">
                <div class="row">
                    <div class="column-md-12 column-lg-12">
                        <nav class="menu1">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps">Home</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Email Us</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/images">Contact</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/shopping">About</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
        </section>

    </body>
</html>