<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--Meta tag for the responsive web page -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title _form</title>
        <!--link to an external style sheet-->
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles/styles.css"/>
    </head>
    <body>
        <section class="container">
            <header class="header" id="nav-heading">
                <div class="row">
                    <div class="column-xs-5 column-sm-5 column-md-5 column-lg-5">
                        <nav class="menu">
                            <ul>
                                <li><a href="#">Parks</a></li>
                                <li><a href="#">Attractions</a></li>
                                <li><a href="#">Tours</a></li>
                                <li><a href="#">Rims</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-xs-2 column-sm-2 column-md-2 column-lg-2">
                        <!--<img src="../images/logo.jpg" style="max-width:100%; height:auto">-->
                        <img class="logo" src="../images/img_trans.gif"/>
                    </div>
                    <div class="column-xs-5 column-sm-5 column-md-5 column-lg-5">
                    <nav class="menu">
                        <ul>
                            <li><a href="#">Photos</a></li>
                            <li><a href="#">Email Us</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </nav>
                    </div>
                </div>
            </header>
            <article>
                <div class="row">
                    <div class="column-xs-1 column-sm-1 column-md-1 column-lg-4">
                        <span></span>
                    </div>
                    <div class="column-xs-12 column-sm-12 column-md-10 column-lg-7">
                        <form name="Login Form">
                            <div class="row">
                                <div class="column-xs-6 column-sm-6 column-md-6 column-lg-6">
                                    <input  type="text" name="firstName" placeholder="First Name" autocomplete="off" />
                                </div>
                                <div class="column-xs-6 column-sm-6 column-md-6 column-lg-6">
                                    <input  type="text" name="lastName" placeholder="Last Name" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-xs-12 column-sm-12 column-md-12 column-lg-12">
                                    <input  type="text" name="emailAddress" placeholder="Email Address" data-error-message="Please enter a valid email address." autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-xs-12 column-sm-12 column-md-12 column-lg-12">
                                    <input  type="password" name="password" placeholder="Password: 8-32 letters and numbers" data-error-message="Password must contain letters &amp; numbers." autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-xs-12 column-sm-12 column-md-12 column-lg-12">
                                    <input  type="submit" name="formSubmit" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column-xs-1 column-sm-1 column-md-1 column-lg-1">
                        <span></span>
                    </div>
                </div>
            </article>
            <footer class="footer" id="nav-footer">
                <div class="row">
                    <div class="column-xs-12 column-sm-12 column-md-12 column-lg-12">
                        <nav class="menu">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps">Home</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Email Us</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/images">Contact</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/shopping">About</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
        </section>
    </body>
</html>