<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!--Meta tag for the responsive web page -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Title _form</title>
        <!--link to an external style sheet-->
        <link rel="stylesheet" type="text/css" href="../stylesheets/styles/styles.css"/>
    </head>
    <body>
        <section>
            <header class="header" id="nav-heading">
                <div class="row">
                    <div class="column-md-4 column-lg-4">
                        <nav class="menu1">
                            <ul>
                                <li>Parks</li>
                                <li>Attractions</li>
                                <li>Tours</li>
                                <li>Rims</li>
                            </ul>
                        </nav>
                    </div>
                    <div class="column-md-2 column-lg-2">
                        <!--<img src="../images/logo.jpg" style="width:100%; height:auto">-->
                        <img class="logo" src="../images/img_trans.gif" style="background: url(../images/test.svg) no-repeat; background-position: 58.64661654% 27.51605996%; width: 168.9px; height: 45px;"/>
                    </div>
                    <div class="column-md-6 column-lg-6">
                        <nav class="menu1 alignleft">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps">Photos</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Email Us</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/maps">gallery</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Shop</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <article>
                <div class="row">
                    <div class="column-md-1 column-lg-4">

                    </div>
                    <div class="column-md-10 column-lg-7">
                        <form name="Login Form">
                            <div class="row">
                                <div class="column-md-6 column-lg-6">
                                    <input  type="text" name="firstName" placeholder="First Name" autocomplete="off" />
                                </div>
                                <div class="column-md-6 column-lg-6">
                                    <input  type="text" name="lastName" placeholder="Last Name" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-md-12 column-lg-12">
                                    <input  type="text" name="emailAddress" placeholder="Email Address" data-error-message="Please enter a valid email address." autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-md-12 column-lg-12">
                                    <input  type="password" name="password" placeholder="Password: 8-32 letters and numbers" data-error-message="Password must contain letters &amp; numbers." autocomplete="off" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column-md-12 column-lg-12">
                                    <input  type="submit" name="formSubmit" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="column-md-1 column-lg-1">

                    </div>
                </div>
            </article>
            <footer class="footer" id="nav-footer">
                <div class="row">
                    <div class="column-md-12 column-lg-12">
                        <nav class="menu1">
                            <ul>
                                <li>
                                    <a href="https://www.google.com/maps">Home</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/gmail/about/">Email Us</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/images">Contact</a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/shopping">About</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </footer>
        </section>
    </body>
</html>