.border-bottom,
.header {
  border-bottom: 2px solid #f6f6f6;
  box-shadow: 0 2px 5px #f6f6f6;
}
.light-background,
.header {
  background-color: #fff;
}
nav ul {
  background: #a8c6f9;
}
.inline,
nav ul {
  color: #f5142d;
}
a,
.link {
  color: #428bca;
}
a:hover {
  color: #3071a9;
}
body {
  background-color: #f6f6f6;
  font-size: 14px;
}
@media only screen and (max-width: 660px) and (orientation: landscape) {
  body {
    font-size: 10px;
  }
}
.header {
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  -ms-transition: all 6s ease-in-out;
  transition: all 6s ease-in-out;
}
.header:hover {
  box-shadow: 0 2px 5px #000;
}
#nav-heading > nav > ul li,
#nav-footer > nav > ul li {
  display: inline-block;
  padding: 20px;
}
#nav-heading > nav > ul li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
form[name="Registration Form"] {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  display: block;
  border: 1px solid #f6f6f6;
  background: #dddddd;
  height: 200px;
  border-radius: 25px;
  position: relative;
  top: 1px;
  left: 50%;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
#nav-footer > nav > ul li {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.footer {
  background-color: #000;
  color: #fff;
  -webkit-transition: all 3s cubic-bezier(0.27, 0.87, 0.13, 0.44);
  -moz-transition: all 3s cubic-bezier(0.27, 0.87, 0.13, 0.44);
  -o-transition: all 3s cubic-bezier(0.27, 0.87, 0.13, 0.44);
  -ms-transition: all 3s cubic-bezier(0.27, 0.87, 0.13, 0.44);
  transition: all 3s cubic-bezier(0.27, 0.87, 0.13, 0.44);
}
.footer:hover {
  background-color: #fbfefd;
}
