body{
    color: #000;
    font-family: Arial,sans-serif;
    font-weight: 100;
    line-height: 1.75;
    background: url(YellowStone.jpg) no-repeat;
   /* background-size:100% 100%;*/
    /*background-size: auto 100%;*/
    /*as the screen size might be different, adjust this using the inspect element*/
    background-size: 100% 140%;
    height:100%

}

form[name="RegistrationForm"]{
    background-color: #fff;
    border: 5px solid #fff;
    padding: 10px;
    margin: 50px,30px,50px,30px;
    margin-left: 30px;
    width: 350px;
    display: block;
    opacity: 0.9;
    position: relative;
}

form[name="RegistrationForm"]:hover{
    background-color: #96bce4;
}




