// This file will only hold all the variables
//Variables as constants
//colors
@light-blue: #fbfefd;
@black: #000;
@white: #fff;
@light-grey: #f6f6f6;
@dark-grey: #333;
@dark-red: #f5142d;
@dark-blue: #a8c6f9;
@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);
@radius: 5px;

